body { 
    background-color: black;
}

.img-responsive2 { padding-top: 20px; padding-left: 50px;}
.img-responsive2:hover {transform:scale(1.5);}
.n-2 nav {background-color:#E5CCF2;}
.n-2 a {color:#fff;}

.n-2 a {position:relative;}
.n-2 a:before {content:""; display:block; position:absolute; left:0; top:10px; width:100%; height:1px; background-color:#fff; transform:scaleX(0); transform-origin:center right; transition:.45s;}
.n-2 a:after {content:""; display:block; position:absolute; left:0; bottom:10px; width:100%; height:1px; background-color:#fff; transform:scaleX(0); transform-origin:center left; transition:.45s;}
.n-2 a:hover:before, .n-2 a:hover:after {transform:scaleX(1);}
.n-2 a:hover {color: black;}


h1 {
    color: #E5CCF2;
    font-family: "Raleway", sans-serif;
    text-align: right;
    padding-top: 30%;
    font-size: 200px;

}

p{ 
    font-family: "Josefin Slab", serif;
    text-align: right;
    font-size: 30px;
}

button{
   justify-content: right;
}


@keyframes fade{
    0% {opacity: 0;}
    100% {opacity: 1;}
}


.cover {
    animation: fade 1s normal 1
}

.container{
    animation: fade 1s normal 1
}